body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header img {
   width: 300px;
   float: left;
}
nav {
   padding-top: 61px;
}
#links {
   background-color: #037DBE;
   padding: 5px 0px;
}
nav a {
   color: #FFFFFF;
   text-decoration: none;
   padding-left: 5%;
}
nav a:hover {
   color: #111111;
}
main {
   width: 90%;
   margin: 10px auto;
}
#mainContentContainer {
   margin-right: 22%;
}
#mainContentImage {
   width: 100%;
}
aside {
   float: right;
   width: 20%;
   border-style: dotted;
   border-width: 1px;
   border-color: #4d4d4d;
   background-color: #EEE;
   padding-bottom: 15px;
   margin-bottom: 10px;
}
aside a {
   text-decoration: none;
   color: #000;
}
#sideBarHeading {
   padding: 5px 0px;
   text-align: center;
}
#sideBarContainer {
   margin: 0 auto;
   background-color: #FFF;
   padding: 2%;
   border-radius: 5px;
   width: 90%;
   display: table;
}
.featuredImage {
   max-width: 100%;
}
.bold {
   font-weight: bold;
}
footer {
   background-color: #EEE;
   padding: 10px 0;
   font-size: 80%;
   height: 50px;
   color: #4d4d4d;
   clear: both;
}
div#socialMediaLinks {
   float: left;
   padding-left: 5%;
}
div#socialMediaLinks img {
   width: 40px;
   padding: 6px 0 0 6px;
}
div#footerNav a {
   text-decoration: none;
   padding-top: 17px;
   padding-right: 5%;
   float: right;
   font-size: 120%;
   color: #037dbe;
}
div#footerNav a:hover {
   color: #000;
}
#copyright {
   width: 200px;
   margin: 0 auto;
   font-style: italic;
   padding-top: 35px;
}
.tableRow {
   display: table-row;
}
.tableCell {
   display: table-cell;
   padding: 10px 0;
}
.tableCell:first-child {
   font-weight: bold;
}
#cartButtons {
   text-align: right;
   padding: 15px 3% 0 0;   
}
#cartButtons button {
   background-color: #037DBE;
   border: none;
   border-radius: 3px;
   color: #FFF;
   padding: 2%;
   cursor: pointer;
}
#cartButtons #clearCartButton {
   background-color: #EEE;
   border: 1px solid #037dbe;
   color: #037DBE;
}
.borderBottom {
   border-bottom: 1px solid #BBB;
}
.removeLink {
   text-align: right;
   font-size: 80%;
   color: #037dbe;
}
#cardContainer {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   transition: 0.3s;
   width: 25%;
   border-radius: 5px;
   padding: 15px;
   margin-bottom: 40px;
}
.card:hover {
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card img {
   border-radius: 20px;
   width: 100%;
   height: 50%;
}
.cardText {
   Padding: 2px 16px;
}
.cardText button {
   float: right;
   background-color: #037dbe;
   color: #FFF;
   border: none;
   padding: 5px;
   border-radius: 3px;
   cursor: pointer;
}
.cartCard {
   box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
   transition: 0.3s;
   border-radius: 5px;
   padding: 15px;
   margin-bottom: 40px;
}
.cartCard:hover {
   box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}
.cartCardFlex {
   display: flex;
}
.cartCard img {
   width: 10%;
   flex: 10%;
}
.cartTitle {
   flex: 20%;
   padding-left: 10px;
   font-weight: bold;
}
.cartDescription {
   flex: 50%;
   padding-left: 10px;
}
.cartQuantity {
   flex: 10%;
}
.cartQuantity input {
   margin-top: 17px;
   width: 50px;
}
.cartPrice {
   flex: 10%;
   padding-left: 10px;
}
.removeMargins {
   margin: 0;
}
.textAlignRight {
   text-align: right;
}