body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header img {
   width: 300px;
   float: left;
}
nav {
   padding-top: 61px;
}
#links {
   background-color: #037DBE;
   padding: 5px 0px;
}
nav a {
   color: #FFFFFF;
   text-decoration: none;
   padding-left: 5%;
}
nav a:hover {
   color: #111111;
}
main {
   width: 90%;
   margin: 10px auto;
}
#mainContentContainer {
   margin-right: 22%;
}
#mainContentImage {
   width: 100%;
}
aside {
   float: right;
   width: 20%;
   border-style: dotted;
   border-width: 1px;
   border-color: #4d4d4d;
   background-color: #EEE;
   padding-bottom: 15px;
   margin-bottom: 10px;
}
aside a {
   text-decoration: none;
   color: #000;
}
#sideBarHeading {
   padding: 5px 0px;
   text-align: center;
}
#sideBarContainer {
   margin: 0 auto;
   background-color: #FFF;
   padding: 2%;
   border-radius: 5px;
   width: 90%;
}
.featuredImage {
   max-width: 100%;
}
.bold {
   font-weight: bold;
}
footer {
   background-color: #EEE;
   padding: 10px 0;
   font-size: 80%;
   height: 50px;
   color: #4d4d4d;
   clear: both;
}
div#socialMediaLinks {
   float: left;
   padding-left: 5%;
}
div#socialMediaLinks img {
   width: 40px;
   padding: 6px 0 0 6px;
}
div#footerNav a {
   text-decoration: none;
   padding-top: 17px;
   padding-right: 5%;
   float: right;
   font-size: 120%;
   color: #037dbe;
}
div#sideBarContainer a p {
   font-weight: bold;
}
div#footerNav a:hover {
   color: #000;
}
#copyright {
   width: 200px;
   margin: 0 auto;
   font-style: italic;
   padding-top: 35px;
}